main {
  padding: 16px;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 16px;
  line-height: 1.8;    
}
wired-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}
section {
  max-width: 400px;
  margin: 0 auto;
  padding: 60px 0;
}
wired-button {
  background: yellow;
  color: red;
  margin: 8px;
}
wired-input {
  width: 200px;
  font-family: inherit;
}